a {
    background: black;
}

h1 {
    padding: 30px;
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
}

h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

section {
    position: relative;
    display: grid;
    align-content: center;
}

.image {
    width: 600px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/simulated_bh.jpg");
}

.hiddenLeft {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddenRight {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.scroll-text {
    position: fixed;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    z-index: -1;
    transition: all 1s;
}

.bg-text {
    font-size: 20rem;
    color: rgb(122, 122, 122);
    -webkit-text-fill-color: #272727; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(70, 70, 70);
}
